<%= form_for(@link) do |f| %>
  <div class="field">
    <%= f.text_area :in_url,  placeholder: "Enter your destination" %>
    <%= f.text_area :out_url,  placeholder: "Brand with lvh.me/(your input)  " %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>