<%= form_for(@link) do |f| %>
  <div class="field">
    <%= f.text_area :out_url,  placeholder: "Enter your final destination" %>
    <%= f.text_area :in_url,  placeholder: "(lvh.me)/(your_input)" %>
  </div>
  <%= f.submit "Brand your URL", class: "btn btn-large btn-primary" %>
<% end %>